extends layout

block content
  // Fixed navbar
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='https://github.com/avilano/gittalent') Git Talent
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/home') Home
          li
            a(href='/about') About
      // /.nav-collapse
          
  // Begin page content

  script(src="routes/user.js", charset="utf-8")
    
  .container
    .page-header
      h2 Hello #{data.name}
    p.lead
      | Here are your github stats:
        
    .stats(align='center')
    
      img(src="#{data.avatar_url}", alt="#{data.login}'s profile picture").gitPicture
    
      br
      br
      table.table.table-hover
        tr
          td.bio #{data.bio}
      table.table.table-hover
        tr
          td 
            b User:
          td.user #{data.login}
        tr
          td 
            b Email:
          td.email #{data.email}
        tr
          td 
            b Repositories:
          td.repo #{data.public_repos}
        tr
          td 
            b Followers:
          td.followers #{data.followers}
        tr
          td
            b Following:
          td.following #{data.following}
      br
      
      // Prepare a container for your calendar.
      script(src='https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js')
      // Optionally, include the theme (if you don't want to struggle to write the CSS)
      link(rel='stylesheet', href='https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css')
      // Prepare a container for your calendar.
      .calendar
        // Loading stuff
        | Loading GitHub data!
        
      iframe(width='600', height='600', src='https://ionicabizau.github.io/github-profile-languages/api.html?#{data.login}', frameborder='0')
      br
  
  
  script.
    GitHubCalendar(".calendar", '#{data.login}');
  
  footer.footer
    .container
      p.text-muted By // Avilano
  //
    Bootstrap core JavaScript
    ==================================================
  // Placed at the end of the document so the pages load faster
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script.
    window.jQuery || document.write('<script src="/js/jquery-3.1.0.min.js"><\\/script>')
  script(src='/js/bootstrap.min.js')
